<!-- src/app/components/my-component/my-component.component.html -->

<nav class="navbar">
    <div class="left-column display left">
        <div class="link">Home</div>
        <div class="link">About</div>
        <div class="link">More</div>
    </div>
    <div class="center-column">
      <a href="#">
        <img src="../../assets/Logo/AAL-logo.webp" alt="Logo" style="height: 50px;">
      </a>
    </div>
    <div class="right-column display right">
        <a class="media-link" href="https://www.linkedin.com/in/andoni-alvarez-laka-a5224868/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="media-link" href="https://github.com/andonialvarez"><i class="fa-brands fa-github"></i></a>
        <a class="media-link" href="https://www.facebook.com/andoni.alvarezlaka/"><i class="fa-brands fa-facebook"></i></a>
     
    </div>
  </nav>
  