<div class="light-line-container">
    <div class="light-line left" *ngFor="let line of lines"></div>
    <div class="light-line right" *ngFor="let line of lines"></div>
  </div>
  

 <div class="spacer20"></div>
 <div class="header">
    <div class="profile">
        <div class="photo"><img src="../../assets/Profile/Foto CV.jpg" alt=""></div>
        <div class="about">
            <h1>About me:</h1>
            <h2>I am a project manager starting in web development. I have knowledge of HTML, CSS, JS and Angular and trying to find a place in this awesome development world</h2>
            <h1></h1>
        </div>
    </div>    
    <div class="detail"> <img src="../../assets/Background/Setup.webp" alt=""></div>
 </div>
